In [13]:
  <div style="display: flex; flex-direction: row; justify-content: center;">
        <div style="border: 1px solid #000;  position: absolute;  padding-left: 100px; padding-right:100px ;">
        <div style=" margin:auto; text-align: center; ">
           <p style="font-weight: 200;">You attended</p>
             <p style="font-weight: 400; font-size:xx-large;">Freshers' Party</p>
                <p style="font-weight: 100; margin-bottom: 40px; ">on November 12, 2021</p>
                <p style="font-weight:800; font-size: large; margin-bottom: 40px">Your Ticket has been claimed</p>
                <p style="font-weight: 800; font-size: small; margin-bottom: 40px">Please contact <a href="mailto:info.passteam@gmail.com"> info.passteam@gmail.com</a> if this alert is wrong or misguided.</p>
                <p style="font-weight: 800; font-size: small; margin-bottom: 40px">Thank you for choosing <span style="color:greenyellow"> Pass.</span></p>

SyntaxError: invalid syntax (<ipython-input-13-258e3c512847>, line 1)

In [4]:
import pandas as pd

In [3]:
df = pd.DataFrame([])

In [5]:
df

Empty DataFrame
Columns: []
Index: []

In [6]:
df["Name"] = ["Joseph", "Sam", "James"]

In [7]:
df

     Name
0  Joseph
1     Sam
2   James

In [6]:
df

     Name
0  Joseph
1     Sam
2   James

In [11]:
df["Age"] = [12,33, 11]
df

     Name  Age
0  Joseph   12
1     Sam   33
2   James   11

# Introduction

## Introduction

### Introduction

 **This is bold text**

<img style="display: inline-block; border: 2;" src="https://picsum.photos/200"> </img>

In [15]:
5 != 7

True

In [16]:
3**7

2187

In [17]:
names = ["James", "John", "Kava", "liga"]

In [18]:
names

['James', 'John', 'Kava', 'liga']

In [19]:
names[0] = "Kaka"

In [20]:
names

['Kaka', 'John', 'Kava', 'liga']

In [21]:
names.append("Hello")

In [22]:
names

['Kaka', 'John', 'Kava', 'liga', 'Hello']

In [23]:
names.reverse()

In [24]:
names

['Hello', 'liga', 'Kava', 'John', 'Kaka']

In [25]:
names.insert?

In [ ]:
names.insert(0, "GAMEBOY")

In [26]:
names

['Hello', 'liga', 'Kava', 'John', 'Kaka']

In [27]:
names.extend(['Iam', 'Hungry'])

In [28]:
names

['Hello', 'liga', 'Kava', 'John', 'Kaka', 'Iam', 'Hungry']

In [29]:
names.insert(0, ['He;s', 'Hppd'])

In [30]:
names

[['He;s', 'Hppd'], 'Hello', 'liga', 'Kava', 'John', 'Kaka', 'Iam', 'Hungry']

In [31]:
del names[0]

In [32]:
names

['Hello', 'liga', 'Kava', 'John', 'Kaka', 'Iam', 'Hungry']

In [33]:
age = [12,13,14,66,44]

In [34]:
height = [1.4, 1.5, 2.1, 1.8, 1.2]

In [35]:
names = ['liga', 'Kava', 'John', 'Kaka', 'Iam']

In [38]:
new_df = pd.DataFrame(my_dict)

In [37]:
my_dict = {"names":names, "age":age, "height":height}
my_dict

{'names': ['liga', 'Kava', 'John', 'Kaka', 'Iam'],
 'age': [12, 13, 14, 66, 44],
 'height': [1.4, 1.5, 2.1, 1.8, 1.2]}

In [39]:
new_df

  names  age  height
0  liga   12     1.4
1  Kava   13     1.5
2  John   14     2.1
3  Kaka   66     1.8
4   Iam   44     1.2