1. Find the movies that have adventure in it and their Revenue 
2. Find the movies that Will Smith acted in and had a high rating (>=7)
3. Find the movies that start with 'S' and their minutes (< 90)

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('IMDB-Movie-Data.csv')

In [3]:
data

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [6]:
data.dropna(how='any', inplace=True)

In [7]:
data

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
994,995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [9]:
q1 = data[data["Genre"].str.contains("Action")]

In [13]:
q1[["Title", "Revenue (Millions)"]]

                              Title  Revenue (Millions)
0           Guardians of the Galaxy              333.13
4                     Suicide Squad              325.02
5                    The Great Wall               45.13
8                The Lost City of Z                8.01
12                        Rogue One              532.17
..                              ...                 ...
954                      Death Race               36.06
956                          Legion               40.17
958                  3 Days to Kill               30.69
990  Underworld: Rise of the Lycans               45.80
993        Resident Evil: Afterlife               60.13

[277 rows x 2 columns]

In [14]:
q2 = data[data["Actors"].str.contains("Will Smith")]

In [15]:
q2

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
73,74,Collateral Beauty,"Drama,Romance","Retreating from life after a tragedy, a man qu...",David Frankel,"Will Smith, Edward Norton, Kate Winslet, Micha...",2016,97,6.8,43977,30.98,23.0
488,489,Focus,"Comedy,Crime,Drama",In the midst of veteran con man Nicky's latest...,Glenn Ficarra,"Will Smith, Margot Robbie, Rodrigo Santoro, Ad...",2015,105,6.6,166489,53.85,56.0
495,496,I Am Legend,"Drama,Horror,Sci-Fi",Years after a plague kills most of humanity an...,Francis Lawrence,"Will Smith, Alice Braga, Charlie Tahan, Salli ...",2007,101,7.2,565721,256.39,65.0
496,497,Men in Black 3,"Action,Adventure,Comedy",Agent J travels in time to M.I.B.'s early days...,Barry Sonnenfeld,"Will Smith, Tommy Lee Jones, Josh Brolin,Jemai...",2012,106,6.8,278379,179.02,58.0
640,641,The Pursuit of Happyness,"Biography,Drama",A struggling salesman takes custody of his son...,Gabriele Muccino,"Will Smith, Thandie Newton, Jaden Smith, Brian...",2006,117,8.0,361105,162.59,64.0
684,685,Seven Pounds,"Drama,Romance",A man with a fateful secret embarks on an extr...,Gabriele Muccino,"Will Smith, Rosario Dawson, Woody Harrelson,Mi...",2008,123,7.7,245144,69.95,36.0
789,790,Hancock,"Action,Crime,Drama",Hancock is a superhero whose ill considered be...,Peter Berg,"Will Smith, Charlize Theron, Jason Bateman, Ja...",2008,92,6.4,366138,227.95,49.0
948,949,After Earth,"Action,Adventure,Sci-Fi",A crash landing leaves Kitai Raige and his fat...,M. Night Shyamalan,"Jaden Smith, David Denman, Will Smith,Sophie O...",2013,100,4.9,166512,60.52,33.0

In [16]:
 q2[q2["Rating"] >= 7]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
495,496,I Am Legend,"Drama,Horror,Sci-Fi",Years after a plague kills most of humanity an...,Francis Lawrence,"Will Smith, Alice Braga, Charlie Tahan, Salli ...",2007,101,7.2,565721,256.39,65.0
640,641,The Pursuit of Happyness,"Biography,Drama",A struggling salesman takes custody of his son...,Gabriele Muccino,"Will Smith, Thandie Newton, Jaden Smith, Brian...",2006,117,8.0,361105,162.59,64.0
684,685,Seven Pounds,"Drama,Romance",A man with a fateful secret embarks on an extr...,Gabriele Muccino,"Will Smith, Rosario Dawson, Woody Harrelson,Mi...",2008,123,7.7,245144,69.95,36.0

In [18]:
q3 = data[data["Title"].str.startswith("s") | data["Title"].str.startswith("S") ]

In [19]:
q3

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
40,41,Sausage Party,"Animation,Adventure,Comedy",A sausage strives to discover the truth about ...,Greg Tiernan,"Seth Rogen, Kristen Wiig, Jonah Hill, Alistair...",2016,89,6.3,120690,97.66,66.0
48,49,Star Trek Beyond,"Action,Adventure,Sci-Fi",The USS Enterprise crew explores the furthest ...,Justin Lin,"Chris Pine, Zachary Quinto, Karl Urban, Zoe Sa...",2016,122,7.1,164567,158.80,68.0
...,...,...,...,...,...,...,...,...,...,...,...,...
924,925,Superman Returns,"Action,Adventure,Sci-Fi","Superman reappears after a long absence, but i...",Bryan Singer,"Brandon Routh, Kevin Spacey, Kate Bosworth, Ja...",2006,154,6.1,246797,200.07,72.0
937,938,Super,"Comedy,Drama",After his wife falls under the influence of a ...,James Gunn,"Rainn Wilson, Ellen Page, Liv Tyler, Kevin Bacon",2010,96,6.8,64535,0.32,50.0
952,953,Sex and the City 2,"Comedy,Drama,Romance","While wrestling with the pressures of life, lo...",Michael Patrick King,"Sarah Jessica Parker, Kim Cattrall, Kristin Da...",2010,146,4.3,62403,95.33,27.0
973,974,Scream 4,"Horror,Mystery","Ten years have passed, and Sidney Prescott, wh...",Wes Craven,"Neve Campbell, Courteney Cox, David Arquette, ...",2011,111,6.2,108544,38.18,52.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0

In [20]:
q3[q3["Runtime (Minutes)"] < 90]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
40,41,Sausage Party,"Animation,Adventure,Comedy",A sausage strives to discover the truth about ...,Greg Tiernan,"Seth Rogen, Kristen Wiig, Jonah Hill, Alistair...",2016,89,6.3,120690,97.66,66.0
330,331,Storks,"Animation,Adventure,Comedy",Storks have moved on from delivering babies to...,Nicholas Stoller,"Andy Samberg, Katie Crown,Kelsey Grammer, Jenn...",2016,87,6.9,34248,72.66,56.0
370,371,Sleight,"Action,Drama,Sci-Fi",A young street magician (Jacob Latimore) is le...,J.D. Dillard,"Jacob Latimore, Seychelle Gabriel, DulÃ© Hill, ...",2016,89,6.0,702,3.85,62.0